body {
    background-color: black;
}

#background-image {
    background-image: url('../img/background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    opacity: 0.4;
    z-index: -10;
    position: absolute;
}

#container-banner {
    margin: 0 auto;
}

.logo {
    height: 200px;
}

#form-busca {
    min-width: 50%;
    max-width: 100%;
}

#form-busca input {
    background-color: rgba(255, 255, 255, 0.7);
}

#form-busca ::placeholder {
    color: black;
}

.botao-cor-especial {
    color: white;
    background-color: #ab7325;
}

a {
    text-decoration: none;
}

#entrar-e-carrinho-link a:hover,
#entrar-e-carrinho-link a:active{
    opacity: 0.7;
    color: #ab7325;
}


.texto-cor-especial,
#nav-estilos a {
    color: #ab7325;
}

#nav-estilos a:hover {
    color: white;
}

#nav-estilos,
#estilos {
    background-color: black !important;
}

#nav-estilos li:hover {
    opacity: 0.7;
    background-color: #ab7325;
    transition-duration: 1s;
}

@media (max-width: 575px) {
    #nav-estilos li {
        width: 100vw;
        background-color: black !important;
        z-index: 100;
    }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #ab7325;
    color: black !important;
}

.carrossel-imagem {
    height: 405px;
    object-position: center;
    object-fit: cover;
}

.imagem-promocao {
    height: 135px;
    width: 100%;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    z-index: 10;
}

@media (max-width: 575px) {
    .carrossel-imagem {
        height: 300px;
    }

    .imagem-promocao {
        height: 110px;
        width: 100%;
        padding-top: 20px;
    }
}

.titulo {
    /*color: #ab7325;*/
    color: black;
}

.capa-card div {
    background-color: transparent;
    border: none;
}

.capa-card a {
    color: black;
}

.capa-card:hover,
.capa-card:active {
    opacity: 0.8;
}

#busca-avancada {
    background-color: rgba(0,0,0,0.5);
}

.titulo-busca {
    color: whitesmoke;
}

#resultado {
    background-color: whitesmoke;
}

footer {
    color: #6c757d;
}

.footer-container {
    max-width: 1000px;
}

