body {
    background-color: black;
    overflow: auto!important;
}

.modal-open {
    padding-right: 0 !important
}

.pagina-container {
    max-width: 1140px;
}

#background-image {
    background-image: url('../img/background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    opacity: 0.4;
    z-index: -10;
    position: absolute;
}

#container-banner {
    margin: 0 auto;
}

.logo {
    height: 200px;
}

.logo-crud {
    height: 100px;
}

#form-busca {
    min-width: 50%;
    max-width: 100%;
}

#form-busca input {
    background-color: rgba(255, 255, 255, 0.7);
}

#form-busca ::placeholder {
    color: black;
}

.botao-busca {
    color: white;
    background-color: #ab7325;
}

a {
    text-decoration: none;
}

#entrar-e-carrinho-link a:hover,
#entrar-e-carrinho-link a:active{
    opacity: 0.7;
    color: #ab7325;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 400px;
    }

    .modal-content {
        padding: 1rem;
    }
}

.texto-cor-especial,
#nav-estilos a {
    color: #ab7325;
}

#nav-estilos a:hover {
    color: white;
}

#nav-estilos,
#estilos {
    background-color: black !important;
}

#nav-estilos li:hover {
    opacity: 0.7;
    background-color: #ab7325;
    transition-duration: 1s;
}

@media (max-width: 575px) {
    #nav-estilos li {
        width: 100vw;
        background-color: black !important;
        z-index: 100;
    }
}

/*.nav-pills .nav-link.active, .nav-pills .show > .nav-link {*/
/*    background-color: #ab7325;*/
/*    color: black !important;*/
/*}*/

.carrossel-imagem {
    height: 405px;
    object-position: center;
    object-fit: cover;
}

.imagem-promocao {
    height: 135px;
    width: 100%;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    z-index: 10;
}

@media (max-width: 575px) {
    .carrossel-imagem {
        height: 300px;
    }

    .imagem-promocao {
        height: 110px;
        width: 100%;
        padding-top: 20px;
    }
}

.titulo {
    /*color: #ab7325;*/
    color: black;
}

.capa-card div {
    background-color: transparent;
    border: none;
}

.capa-card a {
    color: black;
}

.capa-card:hover,
.capa-card:active {
    opacity: 0.8;
}

#busca-avancada,
#sugestoes {
    background-color: rgba(0,0,0,0.5);
}

#busca-avancada li {
    background-color: transparent;
    border-color: #ab7325;
    color: white;
    padding-left: 0;
}

#busca-avancada a {
    padding: 10px 40px 10px 15px;
    color: white;
}

#busca-avancada a:hover,
#busca-avancada a:active{
    color: #ab7325;
}

.titulo-busca {
    color: whitesmoke;
}

#resultado {
    background-color: whitesmoke;
}

#produto-detalhe {
    overflow: auto;
}

.imagem-detalhe {
    width: 100%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

.botao-adicionar-carrinho {
    max-width: 400px;
}

.botao-adicionar-carrinho:hover,
.botao-adicionar-carrinho:active {
    color: #ab7325;
}

#sugestoes .titulo{
    color: whitesmoke;
}

.imagem-sugestoes {
    max-width: 200px;
    height: auto;
}

.texto-sugestoes {
    font-size: 12px;
    color: grey;
}

.sugestoes-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sugestoes-card {
    padding: 3px;
    display: inline-block;
    max-width: 200px;
}

@media (max-width: 575px) {
    .sugestoes-card-group {
        display: block;
    }
    .sugestoes-card {
        margin: 0 auto;
    }
}

@media (max-width: 444px) {
    .sugestoes-card-group {
        text-align: center;
    }

}

.carrinho-imagem {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #carrinho table,
    #carrinho thead,
    #carrinho tbody,
    #carrinho th,
    #carrinho td,
    #carrinho tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #carrinho thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #carrinho tr { border: 1px solid #ccc; }

    #carrinho td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #carrinho td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /* Label the data */
    #carrinho td:before { content: attr(data-title); }

    #carrinho tfoot td {
        width: 100vw;
        padding-left: unset;
        display: table-cell;
    }

    #carrinho .preco {
        text-align: center!important;
    }

    #carrinho tfoot .preco {
        text-align: left!important;
    }
}

#cria-conta-form {
    max-width: 600px;
}

#login-form {
    /*width: 600px;*/
   width: 100%;
}
#login-form-container {
    max-width: 400px;
    width: 100%;
}

.botao-destaque {
    color: white;
    background-color: #ab7325;
    width: 200px;
}

.botao-destaque:hover,
.botao-destaque:active {
    opacity: 0.9;
    color: white;
}

footer {
    color: #6c757d;
}

.footer-container {
    max-width: 1000px;
}

.crud-tabs {
    margin-bottom: 0;
    border-bottom: none;
}
.crud-tabs-link {
    border-bottom: 1px solid black!important;
}

.crud-tabs-link.active {
    border-left: 1px solid black!important;
    border-right: 1px solid black!important;
    border-top: 1px solid black!important;
    border-bottom: 1px solid transparent!important;
}

.crud-tab-content {
    border: 1px solid #000;
    border-radius: 0 .25rem .25rem .25rem;
}









