body {
    background-color: black;
    overflow: auto!important;
}

.modal-open {
    padding-right: 0 !important
}

.pagina-container {
    max-width: 1140px;
}

#background-image {
    background-image: url('../img/background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    opacity: 0.4;
    z-index: -10;
    position: absolute;
}

#container-banner {
    /*margin: 0 auto;*/
}

.logo {
    height: 170px;
    margin: 0 auto;
}

.logo-crud {
    height: 100px;
}

#form-busca {
    max-width: 560px;
}

#form-busca input {
    background-color: rgba(255, 255, 255, 0.7);
}

#form-busca ::placeholder {
    color: black;
}

.botao-busca {
    color: white;
    background-color: #ab7325;
}

a {
    text-decoration: none;
}

#entrar-e-carrinho-link a {
    color: #c6c6c6;
    /*color: #ab7325;*/
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

#entrar-e-carrinho-link a:hover,
#entrar-e-carrinho-link a:active{
    opacity: 0.7;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 400px;
    }

    .modal-content {
        padding: 1rem;
    }
}

.texto-cor-especial,
#nav-estilos a {
    color: #ab7325;
}

#nav-estilos a:hover {
    color: white;
}

#nav-estilos,
#estilos {
    background-color: black !important;
}

#nav-estilos li:hover {
    opacity: 0.7;
    background-color: #ab7325;
    transition-duration: 1s;
}

@media (max-width: 575px) {
    #nav-estilos li {
        width: 100vw;
        background-color: black !important;
        z-index: 100;
    }
}

/*.nav-pills .nav-link.active, .nav-pills .show > .nav-link {*/
/*    background-color: #ab7325;*/
/*    color: black !important;*/
/*}*/

.carrossel-imagem {
    height: 405px;
    object-position: center;
    object-fit: cover;
}

.imagem-promocao {
    height: 135px;
    width: 100%;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    z-index: 10;
}

@media (max-width: 1115px) {
    .carrossel-imagem {
        height: 366px;
    }

    .imagem-promocao {
        height: 122px;
    }
}

@media (max-width: 1008px) {
    .carrossel-imagem {
        height: 342px;
    }

    .imagem-promocao {
        height: 114px;
    }
}

@media (max-width: 948px) {
    .carrossel-imagem {
        height: 321px;
    }

    .imagem-promocao {
        height: 107px;
    }
}

@media (max-width: 898px) {
    .carrossel-imagem {
        height: 306px;
    }

    .imagem-promocao {
        height: 102px;
    }
}

@media (max-width: 846px) {
    .carrossel-imagem {
        height: 279px;
    }

    .imagem-promocao {
        height: 93px;
    }
}

@media (max-width: 767px) {
    .carrossel-imagem {
        height: unset;
        object-fit: fill;
    }

    .imagem-promocao {
        height: unset;
        width: 70%;
        padding-top: 20px;
    }
}

.titulo {
    /*color: #ab7325;*/
    color: black;
}

.capa-card div {
    background-color: transparent;
    border: none;
}

.capa-card a {
    color: black;
}

.capa-card:hover,
.capa-card:active {
    opacity: 0.8;
}

#busca-avancada,
#sugestoes,
#carrinho-sugestoes {
    background-color: rgba(0,0,0,0.5);
}

#busca-avancada li {
    background-color: transparent;
    border-color: #ab7325;
    color: white;
    padding-left: 0;
}

#busca-avancada a {
    padding: 10px 40px 10px 15px;
    color: white;
}

#busca-avancada a:hover,
#busca-avancada a:active{
    color: #ab7325;
}

.titulo-busca {
    color: whitesmoke;
}

#resultado {
    background-color: whitesmoke;
}

#produto-detalhe {
    overflow: auto;
}

.imagem-detalhe {
    width: 100%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

.botao-adicionar-carrinho {
    max-width: 400px;
}

.botao-adicionar-carrinho:hover,
.botao-adicionar-carrinho:active {
    color: #ab7325;
}

#sugestoes .titulo,
#carrinho-sugestoes .titulo {
    color: whitesmoke;
}

.imagem-sugestoes {
    max-width: 200px;
    height: auto;
}

.texto-sugestoes {
    font-size: 12px;
    color: grey;
}

.sugestoes-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sugestoes-card {
    padding: 3px;
    display: inline-block;
    max-width: 200px;
}

@media (max-width: 575px) {
    .sugestoes-card-group {
        display: block;
    }
    .sugestoes-card {
        margin: 0 auto;
    }
}

@media (max-width: 444px) {
    .sugestoes-card-group {
        text-align: center;
    }

}

.carrinho-imagem {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #carrinho table,
    #carrinho thead,
    #carrinho tbody,
    #carrinho th,
    #carrinho td,
    #carrinho tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #carrinho thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #carrinho tr { border: 1px solid #ccc; }

    #carrinho td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #carrinho td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /* Label the data */
    #carrinho td:before { content: attr(data-title); }

    #carrinho tfoot td {
        width: 100vw;
        padding-left: unset;
        display: table-cell;
    }

    #carrinho .preco {
        text-align: center!important;
    }

    #carrinho tfoot .preco {
        text-align: left!important;
    }
}

#cria-conta-form,
#contato-form {
    max-width: 600px;
}

#login {
    padding-top: 30px;
    padding-bottom: 100px;
}

#login-form {
    /*width: 600px;*/
   width: 100%;
}
#login-form-container {
    max-width: 400px;
    width: 100%;
}

.botao-destaque,
.stripe-button {
    color: white;
    background-color: #ab7325;
    width: 200px;
    font-family: 'Roboto', sans-serif;
}

.botao-destaque:hover,
.botao-destaque:active {
    opacity: 0.9;
    color: white;
}

#footer {
    color: #c6c6c6;
}

.footer-container {
    max-width: 1000px;
}

#footer .footer-link {
    /*font-size: 35px;*/
    color: #c6c6c6;
}

#footer .footer-link:hover,
#footer .footer-link:active {
    color: #ab7325;
    transition-duration: 500ms;
}

.crud-tabs {
    margin-bottom: 0;
    border-bottom: none;
}
.crud-tabs-link {
    border-bottom: 1px solid black!important;
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
    background-color: #ebeced;
}

.crud-tabs-link.active {
    border-left: 1px solid black!important;
    border-right: 1px solid black!important;
    border-top: 1px solid black!important;
    border-bottom: 1px solid transparent!important;
    background-color: #f8f9fa!important;
    color: black!important;
    font-weight: bold;
}

@media screen and (max-width: 378px) {
    .crud-tabs-link {
        padding-left: 7px!important;
        padding-right: 7px!important;
    }
}

@media screen and (max-width: 306px) {
    .crud-tabs-link {
        padding-left: 3px!important;
        padding-right: 3px!important;
    }
}

@media screen and (max-width: 274px) {
    .crud-tabs-link {
        padding-left: 0!important;
        padding-right: 0!important;
    }
}

.crud-tab-content {
    border: 1px solid #000;
    border-radius: 0 .25rem .25rem .25rem;
}

.google-login {
    font-family: 'Roboto', sans-serif;
    /*font-weight: bold;*/
}

.google-login .google-logo {
    max-width: 40px;
}

#login .texto-cor-especial:hover,
#login .texto-cor-especial:active,
#carrinho .texto-cor-especial:hover,
#carrinho .texto-cor-especial:active{
    color: unset!important;
    text-decoration: underline;
}

.order-card {
    z-index: 0;
    background-color: #ECEFF1;
    padding-bottom: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 10px;
}

.top {
    padding-top: 40px;
    padding-left: 13% !important;
    padding-right: 13% !important;
}

.progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455a64;
    padding-left: 0;
    margin-top: 30px;
}

.progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

.progressbar .step0:before {
    font-family: 'FontAwesome', sans-serif;
    content: "\f10c";
    color: #fff;
}

.progressbar li:before {
    width: 40px;
    height: 40px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    background: #aea7a4;
    border-radius: 50%;
    margin: auto;
    padding: 0;
}

.progressbar li:after {
    content: '';
    width: 100%;
    height: 12px;
    background: #aea7a4;
    position: absolute;
    left: 0;
    top: 16px;
    z-index: -1;
}

.progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%
}

.progressbar li:nth-child(2):after,
.progressbar li:nth-child(3):after {
    left: -50%
}

.progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%
}

.progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.progressbar li.active:before,
.progressbar li.active:after {
    background: #ab7325;
}

.progressbar li.active:before {
    font-family: 'FontAwesome', sans-serif;
    content: "\f00c";
}

.progress-icon {
    width: 40px;
}

.icon-content {
    width: 40px;
    padding-bottom: 20px;
    overflow: visible;
    white-space: nowrap;
    font-weight: bold;
}

.processado {
    position: relative;
    left: -55%;
}

.preparacao {
    position: relative;
    left: -80%;
}

.enviado {
    position: relative;
    left: -25%;
}

.entregue {
    position: relative;
    left: -34%;
}

@media screen and (max-width: 480px) {
    .progress-descricao {
        display: none;
    }
}


.chart {
    width: 100%;
    min-height: 316px;
}




